@model dynamic


<div class="models-doors blue-green-gradient-block">

    <div class="block-with-circle">
        <div class="duga"></div>
        <img class="models-doors-title" src="/Content/img/models-doors.png" />

        <div class="wrap-round-icons">
            <figure class="pin inline">
                <img src="/Content/img/model-door.png" />
                <figcaption>Витязь-Стандарт</figcaption>
            </figure>

            <figure class="pin inline">
                <img src="/Content/img/model-door.png" />
                <figcaption>Витязь-Классик</figcaption>
            </figure>

            <figure class="pin inline">
                <img src="/Content/img/model-door.png" />
                <figcaption>Витязь-Премиум</figcaption>
            </figure>

            <figure class="pin inline">
                <img src="/Content/img/model-door.png" />
                <figcaption>Противопожарные<br />
                    и промышленные двери</figcaption>
            </figure>
        </div>
    </div>

    <div class="border-bottom"></div>
</div>
