@model dynamic

<footer class="wrap-inline">
    <div class="socialbox">
        <img src="/Content/img/vk.png" class="socialbox-item" />
        <img src="/Content/img/facebook.png" class="socialbox-item social-item-fb" />
        <img src="/Content/img/odno.png" class="socialbox-item social-item-odno" />
        <img src="/Content/img/google.png" class="socialbox-item social-item-google" />
        <img src="/Content/img/twitter.png" class="socialbox-item-last" />
    </div>
    <div class="footer-center inline">
        <p class="footer-info-left">
            Торгово-производственная компания «Октопус-ДВ»
            <br />
            г. Хабаровск, ул.Халтурина 4А, тел. +7 (4212) 944-677
            <br />
            ОГРН 1112721005594
        </p>

        <div class="footer-info-right inline">

            <p class="need-help-phone dark-green-text">
                <font size="5">8 (4212) 944-677</font>
            </p>

            <p class="need-help-time-work">
                Пн-Пт: 10-20; Сб-Вск: 12-18
       
            </p>

            <div class="btn footer-order-call wrap-inline">
                <div class="btn-left btn-corner inline"></div>
                <div class="btn-center inline">Позвонить</div>
                <div class="btn-right btn-corner inline"></div>
            </div>
        </div>

    </div>
</footer>
<div id="overlay">
    
</div>
<div id="success-dlg">
    <div class="buttons">
        <a href="http://vk.com/">
            <img src="~/Content/img/Media/vk.png" />
        </a>
        <a href="http://facebook.com/">
            <img src="~/Content/img/Media/fb.png" /> 
        </a>
        <a href="http://odnoklassniki.ru/">
            <img src="~/Content/img/Media/ok.png" /> 
        </a>
        <a href="http://plus.google.com/">
            <img src="~/Content/img/Media/gp.png" /> 
        </a>
        <a href="http://twitter.com/">
            <img src="~/Content/img/Media/tw.png" />
        </a>
    </div>
</div>
<script type="text/javascript">
    // Общие скрипты
    $(".form-order").submit(function () {
        var name = $(this).find("[name='name']").val();
        var phone = $(this).find("[name='phone']").val();
        if (name == null || name == "") {
            alert("Введите ваше имя");
            return false;
        }
        if (phone == null || phone == "") {
            alert("Введите ваш телефон");
            return false;
        }
        return true;
    }).ajaxForm(function (response) {
        yaCounter21868750.reachGoal("feedback");
        showSuccessDlg();
    });
    $(".form-border").find(".btn-center").click(function () {
        $(this).parent().hide();
        var self = this;
        setTimeout(function() {
            $(self).parent().show();
        },5000);
        $(this).parents(".form-border").first().find("form").submit();
    });
    function showSuccessDlg() {
        var dlg = $("#success-dlg");
        var overlay = $("#overlay");
        overlay.width($(document).width()).height($(document).height()).show().unbind("click").click(function () {
            overlay.hide();
            dlg.hide();
        });
        dlg.css("left", window.innerWidth / 2 - dlg.width() / 2).css("top", window.innerHeight / 2 - dlg.height() / 2).show();
    }
    
    // Счетчик
    setInterval(function() {
        $(".counter").each(function (index, item) {

            function startAndEndOfWeek(date) {

                // If no date object supplied, use current date
                // Copy date so don't modify supplied date
                var now = date ? new Date(date) : new Date();

                // set time to some convenient value
                now.setHours(0, 0, 0, 0);

                // Get the previous Monday
                var monday = new Date(now);
                monday.setDate(monday.getDate() - monday.getDay() + 1);

                // Get next Sunday
                var sunday = new Date(now);
                sunday.setDate(sunday.getDate() - sunday.getDay() + 7);

                // Return array of date objects
                return [monday, sunday];
            }

            var now = new Date();
            var till = new Date(now.getFullYear(), now.getMonth(), now.getUTCDate() + 1, 0, 0, 0);
            var dates = startAndEndOfWeek(now);
            till = dates[1];
            var diff = (till.getTime() - now.getTime()) / 1000;
            var string = "";
            var days, hours, minutes;
            if (diff <= 0) {
                days = "00";
                hours = "00";
                minutes = "00";
            } else {
                days = Math.floor(diff / (3600 * 24));
                var left = diff - days * 3600 * 24;
                hours = Math.floor(left / (3600));
                left = left - hours * (3600);
                minutes = Math.floor(left / (60));
                //var seconds = Math.floor(left - minutes * (60));
                if (days < 10) {
                    days = "0" + days.toString();
                } else if (days > 99) {
                    days = "99";
                } else {
                    days = days.toString();
                }
                if (hours < 10) {
                    hours = "0" + hours.toString();
                } else {
                    hours = hours.toString();
                }
                if (minutes < 10) {
                    minutes = "0" + minutes.toString();
                } else {
                    minutes = minutes.toString();
                }
            }
            $(item).find(".days").text(days);
            $(item).find(".hours").text(hours);
            $(item).find(".minutes").text(minutes);
        });
    }, 1000);
    

    var doorsArray = [
        "/Content/photos/doors/small/1.jpg",
        "/Content/photos/doors/small/2.jpg",
        "/Content/photos/doors/small/3.jpg",
        "/Content/photos/doors/small/4.jpg",
        "/Content/photos/doors/small/5.jpg",
        "/Content/photos/doors/small/6.jpg",
        "/Content/photos/doors/small/7.jpg",
        "/Content/photos/doors/small/8.jpg"
    ];
    var certsArray = [
        "/Content/photos/certificates/1.JPG",
        "/Content/photos/certificates/2.JPG",
        "/Content/photos/certificates/3.JPG",
        "/Content/photos/certificates/4.JPG"
    ];
    var doorsOffset = 0;
    var certOffset = 0;
    function bindDoors() {
        var index1 = doorsOffset;
        var index2 = doorsOffset + 1;
        if (index2 >= doorsArray.length) {
            index2 = index2 - doorsArray.length;
        }
        var index3 = doorsOffset + 2;
        if (index3 >= doorsArray.length) {
            index3 = index3 - doorsArray.length;
        }
        var item1 = doorsArray[index1];
        var item2 = doorsArray[index2];
        var item3 = doorsArray[index3];

        $("#doors-carousel").find(".li-left").find("img").attr("src", item1);
        $("#doors-carousel").find(".li-active").find("img").attr("src", item2);
        $("#doors-carousel").find(".li-right").find("img").attr("src", item3);
    }
    bindDoors();

    $("#next-door").click(function () {
        doorsOffset += 1;
        if (doorsOffset >= doorsArray.length) {
            doorsOffset = 0;
        }
        bindDoors();
    });

    $("#prev-door").click(function () {
        doorsOffset -= 1;
        if (doorsOffset < 0) {
            doorsOffset = doorsOffset.length-1;
        }
        bindDoors();
    });
    
    function bindCertificates() {
        var index1 = certOffset;
        var index2 = certOffset + 1;
        if (index2 >= certsArray.length) {
            index2 = index2 - certsArray.length;
        }
        var index3 = certOffset + 2;
        if (index3 >= certsArray.length) {
            index3 = index3 - certsArray.length;
        }
        var item1 = certsArray[index1];
        var item2 = certsArray[index2];
        var item3 = certsArray[index3];

        $("#cert-carousel").find(".li-left").find("img").attr("src", item1);
        $("#cert-carousel").find(".li-active").find("img").attr("src", item2);
        $("#cert-carousel").find(".li-right").find("img").attr("src", item3);
    }

    bindCertificates();
    
    $("#next-cert").click(function () {
        certOffset += 1;
        if (certOffset >= certsArray.length) {
            certOffset = 0;
        }
        bindCertificates();
    });

    $("#prev-cert").click(function () {
        certOffset -= 1;
        if (certOffset < 0) {
            certOffset = certsArray.length - 1;
        }
        bindCertificates();
    });
    $("#cert-carousel img").click(function () {
        $.fancybox.open({ href: $(this).attr("src") });
    });
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    function getOffset(el) {
        var _x = 0;
        var _y = 0;
        while (el && !isNaN(el.offsetLeft) && !isNaN(el.offsetTop)) {
            _x += el.offsetLeft - el.scrollLeft;
            _y += el.offsetTop - el.scrollTop;
            el = el.offsetParent;
        }
        return { top: _y, left: _x };
    }
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter21868750 = new Ya.Metrika({
                    id: 21868750,
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21868750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
@if ((string) Session["Admin"] == "true")
{
    <script type="text/javascript">
        $("body").on("click",".edit-content", function () {
            var key = $(this).data("key");
            var item = $("[data-edit-key='" + key + "']");
            var currentContent = item.text();
            var newContent = prompt("Введите содержимое этого блока", currentContent);
            if (newContent != null && newContent != "") {
                if (newContent != currentContent) {
                    $.post("/Main/SaveContent", { key: key, newValue: newContent }, function (data) {
                        if (data.success) {
                            $(item).text(newContent);
                        } else {
                            alert("Не удалось сохранить элемент");
                        }
                    }, 'json');
                }
            }
        });
    </script>
}