@model dynamic

<footer class="wrap-inline">
    <div class="socialbox">
        <img src="/Content/img/vk.png" class="socialbox-item" />
        <img src="/Content/img/facebook.png" class="socialbox-item social-item-fb" />
        <img src="/Content/img/odno.png" class="socialbox-item social-item-odno" />
        <img src="/Content/img/google.png" class="socialbox-item social-item-google" />
        <img src="/Content/img/twitter.png" class="socialbox-item-last" />
    </div>
    <div class="footer-center inline">
        <p class="footer-info-left">
            Торгово-производственная компания «Октопус-ДВ»
                <br />
            г. Хабаровск, ул.Халтурина 4А, тел. +7 (4212) 944-677
                <br />
            ОГРН 1112721005594
        </p>

        <div class="footer-info-right inline">

            <p class="need-help-phone dark-green-text">
                <font size="5">8 (4212) 944-677</font>
            </p>

            <p class="need-help-time-work">
                Пн-Пт: 10-20; Сб-Вск: 12-18
       
            </p>

            <div class="btn footer-order-call wrap-inline">
                <div class="btn-left btn-corner inline"></div>
                <div class="btn-center inline">Позвонить</div>
                <div class="btn-right btn-corner inline"></div>
            </div>
        </div>

    </div>
</footer>
