<header class="wrap-inline">
    <div class="header-center inline">
        <img src="/Content/img/logo.png" class="inline logo" style="cursor: pointer" onclick="window.location.href='/'">
        <h1 class="inline logo-slogan"><strong>Производство и продажа
                <br />
            стальных дверей &laquoВитязь&raquo</strong></h1>
        <div class="header-info inline">

            <span class="need-help">Нужна помощь? Звоните!
            </span>

            <p class="need-help-phone">
                <span class="prefix-phone">8 (4212) </span>
                <span class="phone">944-677</span>
            </p>

            <p class="need-help-time-work">
                Пн-Пт: 10-20; Сб-Вск: 12-18
           
            </p>

            <div class="btn order-call wrap-inline">
                <div class="btn-center inline callback">Заказать звонок!</div>
            </div>
        </div>
    </div>
</header>

<div class="wrap-round-icons">
    <figure class="pin inline">
        <img src="/Content/img/icon-people.png" />
        <figcaption>
            <span class="red-text">1397 </span>семей купили наши<br />
            двери в прошлом году
        </figcaption>
    </figure>

    <figure class="pin inline">
        <img src="/Content/img/icon-people.png" />
        <figcaption>
            <span class="red-text">100 </span>дверей в день<br />
            производит наш завод
        </figcaption>
    </figure>

    <figure class="pin inline">
        <img src="/Content/img/icon-100.png" />
        <figcaption>
            <span class="red-text">5 лет </span>гарантии<br />
            на двери и монтаж
        </figcaption>
    </figure>
</div>
