@model dynamic

<div class="video-block">
    <div class="wrap-video-block">
        <h2 class="video-block-title title">Посмотрите видео о том, как мы производим двери:</h2>

        <iframe width="572" height="322" src="//www.youtube.com/embed/QGwzBHmzpkw" frameborder="0" allowfullscreen></iframe>
        <ul class="video-benefits-list inline">
            <li class="video-benefits-list-item">* Автоматизированная
                    <br />
                &nbsp;&nbsp;производственная линия</li>
            <li class="video-benefits-list-item">* Оригинальное немецкое
                    <br />
                &nbsp;&nbsp; оборудование</li>
            <li class="video-benefits-list-item">* Внутренний контроль качества</li>
            <li class="video-benefits-list-item">* 100 дверей в день</li>
            <li class="video-benefits-list-item">* Сертификаты ГОСТ, ISO</li>
        </ul>

    </div>
</div>
