/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Calibri;
  src: url(../fonts/calibri.ttf);
}

/* line 23, ../sass/screen.sass */
.wrap-inline {
  word-spacing: -3px;
  letter-spacing: -3px;
  font-size: 0;
}

/* line 28, ../sass/screen.sass */
.inline {
  display: inline-block;
  word-spacing: normal;
  letter-spacing: normal;
}

/* line 33, ../sass/screen.sass */
.btn {
  cursor: pointer;
  word-spacing: 0 !important;
}

/* line 37, ../sass/screen.sass */
.red-text {
  color: #fe3300;
}

/* line 40, ../sass/screen.sass */
.dark-green-text {
  color: #43525a;
}

/* line 43, ../sass/screen.sass */
.title {
  color: #43525a;
  font-size: 40px;
  font-family: Impact;
  letter-spacing: 1px;
  margin: 20px 0;
}

/* line 53, ../sass/screen.sass */
strong {
  font-weight: normal;
}

/* line 57, ../sass/screen.sass */
h1 {
  font-size: 30px;
  color: black;
}

/* line 63, ../sass/screen.sass */
body {
  background-color: #ededed;
  font-family: Calibri, Arial, sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

/* HEADER START */
/* line 75, ../sass/screen.sass */
header {
  width: 1080px;
  margin: 0 auto;
  background-image: url('../img/header.png');
}
/* line 81, ../sass/screen.sass */
header .header-center {
  padding-left: 65px;
  vertical-align: top;
  width: 950px;
  height: 117px;
}
/* line 87, ../sass/screen.sass */
header .header-center .logo {
  margin: 10px 0 0 -50px;
}
/* line 90, ../sass/screen.sass */
header .header-center .logo-slogan {
  vertical-align: top;
  margin-top: 20px;
  margin-left: 10px;
  font-family: Impact;
  letter-spacing: 1px;
}
/* line 98, ../sass/screen.sass */
header .header-center .header-info {
  text-align: center;
  float: right;
  margin-top: 5px;
}
/* line 104, ../sass/screen.sass */
header .header-center .header-info .need-help-phone {
  font-family: Calibri;
  letter-spacing: 1px;
}
/* line 108, ../sass/screen.sass */
header .header-center .header-info .need-help-phone .prefix-phone {
  font-size: 26px;
}
/* line 111, ../sass/screen.sass */
header .header-center .header-info .need-help-phone .phone {
  font-size: 36px;
}
/* line 114, ../sass/screen.sass */
header .header-center .header-info .need-help {
  color: #fe3300;
  font-size: 24px;
  font-family: Myriad Pro;
}
/* line 121, ../sass/screen.sass */
header .header-center .header-info .order-call {
  background-image: url('../img/btn-order-call.png');
  background-repeat: no-repeat;
  margin-left: 10px;
}
/* line 127, ../sass/screen.sass */
header .header-center .header-info .order-call .btn-center {
  color: #fe3300;
  font-size: 19px;
  font-family: Calibri;
  height: 42px;
  text-decoration: underline;
  margin: 10px 0 0 -20px;
  vertical-align: top;
}

/* line 138, ../sass/screen.sass */
.need-help-time-work {
  color: #43525a;
  font-size: 18px;
  font-family: Calibri;
  padding: 5px 0;
}

/* HEADER END */
/* BLOCK AFTER HEADER :) */
/* line 149, ../sass/screen.sass */
.wrap-round-icons {
  margin-top: 10px;
  text-align: center;
  border-bottom: 8px solid #cacbcc;
  padding-bottom: 30px;
}
/* line 158, ../sass/screen.sass */
.wrap-round-icons .pin {
  text-align: center;
  margin: 0 20px;
  font-weight: bold;
}

/* END BLOCK AFTER HEADER */
/* MENU START */
/* line 167, ../sass/screen.sass */
.wrap-main-nav {
  text-align: center;
  margin-bottom: -21px;
  margin-top: -30px;
}
/* line 173, ../sass/screen.sass */
.wrap-main-nav .main-nav {
  background-image: url('../img/main-nav-bg.png');
  background-repeat: repeat-x;
  vertical-align: top;
  height: 51px;
  width: 690px;
}
/* line 182, ../sass/screen.sass */
.wrap-main-nav .main-nav a {
  color: #6d6e70;
  font-size: 20px;
  display: block;
  float: left;
  padding-top: 12px;
  text-decoration: none;
}
/* line 194, ../sass/screen.sass */
.wrap-main-nav .main-nav a:hover {
  text-decoration: underline;
}
/* line 197, ../sass/screen.sass */
.wrap-main-nav .main-nav .separete {
  background-color: #aeafaf;
  display: block;
  float: left;
  text-indent: -9999px;
  width: 2px;
  height: 39px;
  margin: 3px 8px;
}
/* line 208, ../sass/screen.sass */
.wrap-main-nav .first {
  height: 51px;
  width: 9px;
  background-image: url('../img/main-nav-left-bg.png');
  background-repeat: no-repeat;
}
/* line 215, ../sass/screen.sass */
.wrap-main-nav .last {
  height: 51px;
  width: 14px;
  background-image: url('../img/main-nav-right-bg.png');
  background-repeat: no-repeat;
}

/* MENU END */
/* FOOTER START */
/* line 225, ../sass/screen.sass */
footer {
  width: 850px;
  margin: 10px auto 0;
  position: relative;
  background-image: url('../img/footer.png');
  background-repeat: no-repeat;
}
/* line 233, ../sass/screen.sass */
footer .footer-center {
  padding-top: 20px;
  vertical-align: top;
  width: 800px;
  height: 74px;
}
/* line 239, ../sass/screen.sass */
footer .footer-info-left {
  color: #43525a;
  float: left;
  font-size: 15px;
  padding: 10px 0 0 40px;
  line-height: 1.3em;
}
/* line 249, ../sass/screen.sass */
footer .footer-info-right {
  float: right;
  text-align: center;
  margin-right: 60px;
}
/* line 255, ../sass/screen.sass */
footer .footer-order-call .btn-corner {
  width: 6px;
  height: 28px;
}
/* line 259, ../sass/screen.sass */
footer .footer-order-call .btn-center {
  background-image: url('../img/btn-order-call-footer-bg.png');
  background-repeat: repeat-x;
  color: #ed1c24;
  font-size: 14px;
  height: 28px;
  text-decoration: none;
  padding: 5px 30px 0;
  vertical-align: top;
}
/* line 273, ../sass/screen.sass */
footer .footer-order-call .btn-left {
  background-image: url('../img/btn-order-call-footer-left-bg.png');
}
/* line 277, ../sass/screen.sass */
footer .footer-order-call .btn-right {
  background-image: url('../img/btn-order-call-footer-right-bg.png');
}
/* line 281, ../sass/screen.sass */
footer .socialbox {
  background-image: url('../img/social-bg.png');
  position: absolute;
  padding-left: 33px;
  height: 40px;
  top: -20px;
  right: 100px;
  z-index: -1;
  width: 150px;
}
/* line 292, ../sass/screen.sass */
footer .socialbox .socialbox-item {
  margin-right: 15px;
  width: 17px;
  height: 17px;
  display: block;
  float: left;
}
/* line 299, ../sass/screen.sass */
footer .socialbox .social-item-fb {
  margin-left: 3px;
}
/* line 302, ../sass/screen.sass */
footer .need-help-time-work {
  font-size: 14px;
}

/* FOOTER END */
/* line 308, ../sass/screen.sass */
.blue-green-gradient-block {
  background: #63c2cf;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzYzJjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UyZThlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2N2MyY2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #63c2cf 0%, #e2e8e9 50%, #67c2ce 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #63c2cf), color-stop(50%, #e2e8e9), color-stop(100%, #67c2ce));
  background: -webkit-linear-gradient(left, #63c2cf 0%, #e2e8e9 50%, #67c2ce 100%);
  background: -o-linear-gradient(left, #63c2cf 0%, #e2e8e9 50%, #67c2ce 100%);
  background: -ms-linear-gradient(left, #63c2cf 0%, #e2e8e9 50%, #67c2ce 100%);
  background: linear-gradient(to right, #63c2cf 0%, #e2e8e9 50%, #67c2ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63c2cf', endColorstr='#67c2ce',GradientType=1 );
}
/* line 320, ../sass/screen.sass */
.blue-green-gradient-block .border-bottom {
  height: 35px;
  background-image: url('../img/border-bottom.png');
}
/* line 325, ../sass/screen.sass */
.blue-green-gradient-block .block-with-circle {
  margin: 0 auto;
  width: 900px;
  height: 480px;
  padding: 0 20px 0 70px;
  background-image: url('../img/circle-bg.png');
}

/* line 333, ../sass/screen.sass */
.first-block-after-menu {
  height: 450px;
  padding: 50px 0;
}
/* line 338, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors {
  position: relative;
}
/* line 341, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel {
  position: relative;
  padding: 20px 0 10px;
  font-weight: bold;
}
/* line 347, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .wrap-doors {
  padding-top: 10px;
}
/* line 350, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .wrap-doors li {
  vertical-align: middle;
  position: relative;
}
/* line 354, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-left {
  margin: 70px 0 0 0;
  width: 104px;
  text-align: center;
}
/* line 359, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-left img {
  height: 223px;
  width: auto;
}
/* line 363, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-active {
  margin-left: -25px;
  z-index: 2;
  left: -18px;
  width: 192px;
  text-align: center;
}
/* line 370, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-active img {
  height: 376px;
  width: auto;
}
/* line 374, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-right {
  margin: 70px 0 0 -55px;
  z-index: 1;
  width: 104px;
  text-align: center;
}
/* line 380, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-right img {
  height: 223px;
  width: auto;
}
/* line 384, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .handler {
  width: 19px;
  height: 10px;
  cursor: pointer;
}
/* line 389, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .top-handlers {
  position: absolute;
  top: 0;
  left: 120px;
  text-align: center;
  white-space: nowrap;
}
/* line 396, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .bottom-handlers {
  position: absolute;
  bottom: 0;
  left: 150px;
}
/* line 401, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .left-handler, .first-block-after-menu .first-block-after-menu-doors .wrap-carousel .right-handler {
  position: absolute;
  top: 200px;
  width: 43px;
  height: 43px;
}
/* line 407, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .left-handler {
  left: 5px;
  cursor: pointer;
  background-image: url('../img/carousel-handler-left.png');
}
/* line 413, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .wrap-carousel .right-handler {
  right: 5px;
  z-index: 3;
  cursor: pointer;
  background-image: url('../img/carousel-handler-right.png');
}
/* line 420, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .benefits-list {
  width: 205px;
}
/* line 423, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .benefits-list .benefits-list-item {
  font-size: 19px;
  line-height: 1.2em;
  margin: 25px 0;
}
/* line 429, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .benefits-list .benefits-list-item img {
  float: left;
  margin-right: 5px;
}
/* line 433, ../sass/screen.sass */
.first-block-after-menu .first-block-after-menu-doors .sale-icon {
  position: absolute;
  top: 20px;
  right: 0;
}
/* line 438, ../sass/screen.sass */
.first-block-after-menu .wrap-benefits {
  vertical-align: bottom;
  margin-left: 20px;
}

/* line 444, ../sass/screen.sass */
.first-block-after-menu-form {
  vertical-align: top;
  margin-left: 10px;
}
/* line 448, ../sass/screen.sass */
.first-block-after-menu-form .btn-counter {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 5px;
}
/* line 454, ../sass/screen.sass */
.first-block-after-menu-form .btn-counter .btn-corner {
  width: 6px;
  height: 47px;
}
/* line 458, ../sass/screen.sass */
.first-block-after-menu-form .btn-counter .btn-center {
  background-image: url('../img/btn-counter-bg.png');
  background-repeat: repeat-x;
  font-size: 20px;
  height: 47px;
  text-decoration: none;
  padding: 14px 113px 0;
  vertical-align: top;
}
/* line 471, ../sass/screen.sass */
.first-block-after-menu-form .btn-counter .btn-left {
  background-image: url('../img/btn-counter-left-bg.png');
}
/* line 475, ../sass/screen.sass */
.first-block-after-menu-form .btn-counter .btn-right {
  background-image: url('../img/btn-counter-right-bg.png');
}
/* line 479, ../sass/screen.sass */
.first-block-after-menu-form .wrap-form {
  background-color: #77c5aa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
/* line 487, ../sass/screen.sass */
.first-block-after-menu-form .wrap-form h2 {
  font-family: Impact;
}
/* line 490, ../sass/screen.sass */
.first-block-after-menu-form .wrap-form .red-text {
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 5px;
}
/* line 497, ../sass/screen.sass */
.first-block-after-menu-form .wrap-form .text {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2em;
}
/* line 504, ../sass/screen.sass */
.first-block-after-menu-form .wrap-form .form-order {
  color: #43525a;
  font-size: 16px;
  text-align: left;
  margin: 10px;
}
/* line 512, ../sass/screen.sass */
.first-block-after-menu-form .wrap-form .form-order input {
  width: 100%;
}
/* line 517, ../sass/screen.sass */
.first-block-after-menu-form .wrap-form .btn-order2 {
  width: 218px;
  height: 59px;
  margin: 0 auto;
  background-image: url('../img/btn-order.png');
  background-repeat: no-repeat;
}
/* line 526, ../sass/screen.sass */
.first-block-after-menu-form .wrap-form .btn-order2 .btn-center {
  color: white;
  font-family: Impact;
  font-size: 23px;
  text-decoration: none;
  padding: 14px 10px 0;
  vertical-align: top;
}

/* line 537, ../sass/screen.sass */
.cool-doors-description {
  color: #43525a;
  padding-top: 50px;
}
/* line 541, ../sass/screen.sass */
.cool-doors-description .wrap-cool-doors-description {
  width: 930px;
  margin: 0 auto;
  height: 345px;
  position: relative;
}
/* line 547, ../sass/screen.sass */
.cool-doors-description .wrap-cool-doors-description .duga {
  bottom: -79px;
  left: -100px;
  z-index: 1;
}
/* line 552, ../sass/screen.sass */
.cool-doors-description .cool-doors {
  width: 350px;
  position: relative;
  z-index: 2;
}
/* line 557, ../sass/screen.sass */
.cool-doors-description .cool-doors-line {
  position: absolute;
  top: 30px;
  left: 110px;
  width: 667px;
  height: 246px;
}
/* line 564, ../sass/screen.sass */
.cool-doors-description .description-title {
  font-size: 38px;
  font-family: Impact;
}
/* line 570, ../sass/screen.sass */
.cool-doors-description .description-list .description-list-item {
  font-size: 16px;
  margin: 15px 0;
  line-height: 1.5em;
}
/* line 575, ../sass/screen.sass */
.cool-doors-description .left-descriptions {
  text-align: left;
  vertical-align: top;
  width: 280px;
  margin-top: 10px;
}
/* line 581, ../sass/screen.sass */
.cool-doors-description .right-descriptions {
  text-align: right;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 15px;
}

/* line 590, ../sass/screen.sass */
.reasons {
  padding: 120px 0 0;
  background: url(../img/10reasonbg.png) center top no-repeat;
  position: relative;
  z-index: 10;
  height: 578px;
}
/* line 597, ../sass/screen.sass */
.reasons .block-with-circle {
  height: auto;
  padding: 0 20px 50px 70px;
  position: relative;
  background: none;
}
/* line 603, ../sass/screen.sass */
.reasons .reasons-title {
  font-size: 38px;
  font-family: Impact;
  letter-spacing: 1px;
}
/* line 609, ../sass/screen.sass */
.reasons .reasons-list {
  margin: 20px 0 0 70px;
}
/* line 612, ../sass/screen.sass */
.reasons .reasons-list .reasons-list-item {
  font-size: 14px;
  line-height: 1.3em;
  margin: 10px 0;
}
/* line 619, ../sass/screen.sass */
.reasons .reasons-list .reasons-list-item .reason-list-item-img {
  float: left;
  margin-right: 10px;
}

/* line 624, ../sass/screen.sass */
.how-we-works {
  position: relative;
  top: -20px;
  z-index: 20;
}
/* line 629, ../sass/screen.sass */
.how-we-works .wrap-how-we-works {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
/* line 635, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item {
  position: absolute;
  text-align: left;
  line-height: 1.4em;
  width: 300px;
  font-size: 14px;
  font-weight: bold;
}
/* line 644, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item .underline {
  text-decoration: underline;
}
/* line 647, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item.item1 {
  top: 50px;
  right: -70px;
}
/* line 651, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item.item2 {
  top: 220px;
  right: -130px;
}
/* line 655, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item.item3 {
  top: 400px;
  right: -60px;
}
/* line 659, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item.item4 {
  bottom: -40px;
  right: 320px;
}
/* line 663, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item.item5 {
  top: 390px;
  left: -60px;
}
/* line 667, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item.item6 {
  top: 220px;
  left: -100px;
}
/* line 671, ../sass/screen.sass */
.how-we-works .wrap-how-we-works .how-we-works-item.item7 {
  top: 50px;
  left: -40px;
}

/* line 676, ../sass/screen.sass */
.video-block {
  margin-top: 80px;
  text-align: center;
}
/* line 680, ../sass/screen.sass */
.video-block .video-block-title {
  font-size: 34px;
}
/* line 684, ../sass/screen.sass */
.video-block .wrap-video-block {
  width: 900px;
  margin: 0 auto;
}
/* line 688, ../sass/screen.sass */
.video-block .wrap-video-block .video-benefits-list {
  vertical-align: top;
  text-align: left;
  margin-left: 40px;
}
/* line 693, ../sass/screen.sass */
.video-block .wrap-video-block .video-benefits-list .video-benefits-list-item {
  line-height: 1.4em;
  margin: 20px 0;
  font-size: 18px;
}

/* line 701, ../sass/screen.sass */
.response-block {
  margin-top: 40px;
  padding-bottom: 65px;
  background-image: url('../img/wizard-circle-bg.png');
}
/* line 707, ../sass/screen.sass */
.response-block .wrap-response-block {
  position: relative;
  width: 900px;
  margin: 0 auto;
  padding: 0 50px;
}
/* line 713, ../sass/screen.sass */
.response-block .wrap-response-block .handler {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 225px;
}
/* line 719, ../sass/screen.sass */
.response-block .wrap-response-block .handler-left {
  left: 0;
  background-image: url('../img/response-carousel-left-handler.png');
}
/* line 724, ../sass/screen.sass */
.response-block .wrap-response-block .handler-right {
  right: 0;
  background-image: url('../img/response-carousel-right-handler.png');
}
/* line 729, ../sass/screen.sass */
.response-block .response-item {
  background: #ececec;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  vertical-align: top;
}
/* line 737, ../sass/screen.sass */
.response-block .response-item .response-item-img {
  width: 90px;
  height: 90px;
  margin-right: 30px;
}
/* line 742, ../sass/screen.sass */
.response-block .response-item .response-item-text {
  vertical-align: top;
  line-height: 1.4em;
  height: 90px;
  width: 740px;
  font-size: 18px;
  position: relative;
}
/* line 751, ../sass/screen.sass */
.response-block .response-item .response-item-text .subscribtion {
  width: 740px;
  position: absolute;
  bottom: -12px;
  left: 0;
}
/* line 757, ../sass/screen.sass */
.response-block .response-item .response-item-text .subscribtion .player {
  float: right;
}

/* line 763, ../sass/screen.sass */
.trust-block .wrap-trust-block {
  width: 1000px;
  margin: 0 auto;
}
/* line 767, ../sass/screen.sass */
.trust-block .wrap-trust-block .trust-block-title {
  margin-left: 30px;
}
/* line 770, ../sass/screen.sass */
.trust-block .wrap-trust-block .wrap-carousel {
  position: relative;
  padding: 0 30px;
  width: 900px;
}
/* line 775, ../sass/screen.sass */
.trust-block .wrap-trust-block .wrap-carousel .carousel {
  position: relative;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 70px;
  overflow: hidden;
}
/* line 785, ../sass/screen.sass */
.trust-block .wrap-trust-block .wrap-carousel .carousel .carousel-item {
  margin-right: 20px;
  vertical-align: middle;
}
/* line 789, ../sass/screen.sass */
.trust-block .wrap-trust-block .wrap-carousel .carousel .carouse-item-last {
  margin-right: 0;
}
/* line 792, ../sass/screen.sass */
.trust-block .wrap-trust-block .wrap-carousel .carousel .carousel-content {
  position: absolute;
  left: 0px;
  top: 10px;
  white-space: nowrap;
}
/* line 798, ../sass/screen.sass */
.trust-block .wrap-trust-block .wrap-carousel .handler {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 20px;
  cursor: pointer;
}
/* line 805, ../sass/screen.sass */
.trust-block .wrap-trust-block .wrap-carousel .handler-left {
  left: 0;
  background-image: url('../img/response-carousel-left-handler.png');
}
/* line 810, ../sass/screen.sass */
.trust-block .wrap-trust-block .wrap-carousel .handler-right {
  right: 0;
  background-image: url('../img/response-carousel-right-handler.png');
}

/* line 816, ../sass/screen.sass */
.models-doors {
  margin-top: 30px;
}
/* line 819, ../sass/screen.sass */
.models-doors .duga {
  top: -20px;
  left: -150px;
}
/* line 823, ../sass/screen.sass */
.models-doors .block-with-circle {
  position: relative;
  padding: 50px 30px 30px 30px;
}
/* line 827, ../sass/screen.sass */
.models-doors .block-with-circle .models-doors-title {
  position: absolute;
  top: 0px;
  left: 390px;
}
/* line 832, ../sass/screen.sass */
.models-doors .block-with-circle .wrap-round-icons {
  margin-top: 100px;
  border: none;
}
/* line 836, ../sass/screen.sass */
.models-doors .block-with-circle .wrap-round-icons .pin {
  vertical-align: top;
}
/* line 839, ../sass/screen.sass */
.models-doors .block-with-circle .wrap-round-icons .pin figcaption {
  line-height: 1.4em;
  font-size: 16px;
}
/* line 844, ../sass/screen.sass */
.models-doors .block-with-circle .wrap-round-icons .pin img {
  width: auto;
  height: 351px;
}

/* line 850, ../sass/screen.sass */
.our-documents {
  height: 450px;
  padding: 50px 0;
}
/* line 854, ../sass/screen.sass */
.our-documents .wrap-our-documents {
  margin: 0 auto;
  width: 900px;
  height: 480px;
  padding: 0 20px 0 70px;
}
/* line 860, ../sass/screen.sass */
.our-documents .wrap-our-documents .our-documents-title {
  font-size: 45px;
}
/* line 864, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors {
  position: relative;
}
/* line 867, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel {
  position: relative;
  padding: 20px 0 10px;
  font-weight: bold;
}
/* line 873, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .wrap-doors {
  padding-top: 30px;
}
/* line 876, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .wrap-doors li {
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
/* line 881, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-left {
  margin: 70px 0 0 0;
  width: 104px;
  text-align: center;
}
/* line 886, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-left img {
  height: 201px;
  width: auto;
}
/* line 890, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-active {
  margin-left: -25px;
  z-index: 2;
  left: -2px;
  width: 192px;
  text-align: center;
}
/* line 897, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-active img {
  height: 300px;
  width: auto;
}
/* line 901, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-right {
  margin: 70px 0 0 -55px;
  z-index: 1;
  width: 104px;
  text-align: center;
}
/* line 907, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .wrap-doors .li-right img {
  height: 201px;
  width: auto;
}
/* line 911, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .handler {
  width: 19px;
  height: 10px;
  cursor: pointer;
}
/* line 916, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .left-handler, .our-documents .first-block-after-menu-doors .wrap-carousel .right-handler {
  position: absolute;
  top: 240px;
  width: 43px;
  height: 43px;
}
/* line 922, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .left-handler {
  left: 30px;
  background-image: url('../img/carousel-handler-left.png');
}
/* line 927, ../sass/screen.sass */
.our-documents .first-block-after-menu-doors .wrap-carousel .right-handler {
  right: 40px;
  z-index: 3;
  background-image: url('../img/carousel-handler-right.png');
}
/* line 933, ../sass/screen.sass */
.our-documents .first-block-after-menu-form {
  margin-left: 100px;
}
/* line 938, ../sass/screen.sass */
.our-documents .first-block-after-menu-form .wrap-form .btn-order2 .btn-center {
  font-size: 20px;
  padding-top: 14px;
}

/* line 943, ../sass/screen.sass */
.duga {
  background-image: url('../img/duga-bg.png');
  width: 1200px;
  height: 98px;
  position: absolute;
}

/* line 951, ../sass/screen.sass */
#main-menu {
  position: relative;
  z-index: 1000;
}

/* line 955, ../sass/screen.sass */
.standart-door-header {
  position: relative;
}
/* line 958, ../sass/screen.sass */
.standart-door-header .door {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  position: relative;
  z-index: 1000;
}
/* line 965, ../sass/screen.sass */
.standart-door-header .door .images {
  text-align: center;
}
/* line 968, ../sass/screen.sass */
.standart-door-header .door .images .row1 {
  margin-top: 5px;
}
/* line 971, ../sass/screen.sass */
.standart-door-header .door .images .row1 img {
  cursor: pointer;
  border: 1px solid white;
  width: 33px;
  height: 33px;
}
/* line 977, ../sass/screen.sass */
.standart-door-header .door .images .row2 {
  margin-top: 12px;
}
/* line 980, ../sass/screen.sass */
.standart-door-header .door .images .row2 img {
  cursor: pointer;
  border: 1px solid white;
  width: 33px;
  height: 33px;
}
/* line 986, ../sass/screen.sass */
.standart-door-header .door-info {
  display: inline-block;
  vertical-align: top;
  width: 325px;
  margin-left: 48px;
  margin-top: 0px;
}
/* line 993, ../sass/screen.sass */
.standart-door-header .door-info .header {
  font-size: 43px;
  font-family: Impact;
  color: #49535a;
}
/* line 998, ../sass/screen.sass */
.standart-door-header .door-info .desc {
  margin-top: 30px;
  font-size: #43525a;
  line-height: 1.3;
  font-size: 20px;
}
/* line 1004, ../sass/screen.sass */
.standart-door-header .buy-block {
  width: 721px;
  height: 136px;
  position: absolute;
  background: url(../img/standart/price.png) left top no-repeat;
  text-align: right;
  left: 351px;
  top: 280px;
  z-index: 999;
}
/* line 1014, ../sass/screen.sass */
.standart-door-header .buy-block .buy-btn {
  display: inline-block;
  width: 140px;
  height: 33px;
  background: url(../img/standart/buy-btn.png) left top no-repeat;
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 33px;
  text-align: center;
  margin-right: 85px;
  margin-top: 95px;
}

/* line 1028, ../sass/screen.sass */
.form-border {
  width: 312px !important;
  background: url(../img/standart/form-border.png) top center no-repeat;
  padding: 5px;
}
/* line 1033, ../sass/screen.sass */
.form-border .wrap-form {
  margin: 5px;
  margin-top: 0px !important;
  background-color: #94c4ab;
}
/* line 1038, ../sass/screen.sass */
.form-border .wrap-form .form-header {
  font-size: 30px;
  font-family: Impact;
  color: #49535a;
}
/* line 1043, ../sass/screen.sass */
.form-border .wrap-form label {
  font-size: 19px;
  margin-top: 5px;
}

/* line 1049, ../sass/screen.sass */
.standart-door-footer .wrap-cool-doors-description {
  height: auto;
}
/* line 1052, ../sass/screen.sass */
.standart-door-footer .wrap-cool-doors-description .duga {
  bottom: -129px;
}
/* line 1055, ../sass/screen.sass */
.standart-door-footer .standart-desc-header {
  text-align: center;
  font-size: 34pt;
  font-family: Impact;
  color: #49535a;
}
/* line 1061, ../sass/screen.sass */
.standart-door-footer .benefits-list {
  width: 656px;
  margin: 60px auto;
}
/* line 1065, ../sass/screen.sass */
.standart-door-footer .benefits-list .benefits-list-item {
  margin: 17px 0px;
  clear: both;
  height: 46px;
}
/* line 1070, ../sass/screen.sass */
.standart-door-footer .benefits-list .benefits-list-item img {
  float: left;
  margin-right: 25px;
}
/* line 1074, ../sass/screen.sass */
.standart-door-footer .benefits-list .benefits-list-item .benefit-title {
  color: #20201e;
  font-size: 19px;
  line-height: 1.4;
  font-family: "Calibri";
}
/* line 1080, ../sass/screen.sass */
.standart-door-footer .guarantee-form {
  width: 728px;
  margin: 50px auto;
}
/* line 1084, ../sass/screen.sass */
.standart-door-footer .guarantee-form .guarantee {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 1089, ../sass/screen.sass */
.standart-door-footer .guarantee-form .guarantee .guarantee-text {
  color: #20201e;
  font-size: 21px;
  font-family: "Calibri";
  white-space: nowrap;
  margin-top: 10px;
}
/* line 1096, ../sass/screen.sass */
.standart-door-footer .guarantee-form .form-border {
  margin-left: 45px !important;
  display: inline-block;
  vertical-align: top;
}

/* line 1102, ../sass/screen.sass */
.scheme-wrapper {
  margin-top: 50px;
  height: 915px;
  background: url(../img/whosale/top-repeat.png) left 60px repeat-x;
}
/* line 1107, ../sass/screen.sass */
.scheme-wrapper .scheme {
  height: 915px;
  background: url(../img/whosale/top-center.png) center top no-repeat;
}

/* line 1111, ../sass/screen.sass */
.book-wrapper {
  height: 563px;
}
/* line 1114, ../sass/screen.sass */
.book-wrapper .book {
  width: 976px;
  height: 563px;
  margin: 0px auto;
  background: url(../img/whosale/book.png) center center no-repeat;
  position: relative;
}
/* line 1121, ../sass/screen.sass */
.book-wrapper .book ul {
  position: absolute;
  width: 240px;
}
/* line 1125, ../sass/screen.sass */
.book-wrapper .book ul li {
  font-size: 12pt;
  color: #272425;
  font-family: "Calibri";
  margin-bottom: 20px;
  height: 51px;
  clear: both;
}
/* line 1133, ../sass/screen.sass */
.book-wrapper .book ul li img {
  float: left;
  margin-right: 10px;
  height: 51px;
  width: 51px;
}
/* line 1139, ../sass/screen.sass */
.book-wrapper .book ul.what-we-not-do {
  left: 130px;
  top: 230px;
}
/* line 1143, ../sass/screen.sass */
.book-wrapper .book ul.what-we-do {
  top: 230px;
  right: 130px;
}

/* line 1147, ../sass/screen.sass */
.how-work-wrapper {
  margin-top: 50px;
  height: 414px;
  background: url(../img/whosale/hw-bg.jpg) left top repeat-x;
}
/* line 1152, ../sass/screen.sass */
.how-work-wrapper .how-work {
  width: 1200px;
  height: 414px;
  margin: 0px auto;
  background: url(../img/whosale/how-work.jpg) center top no-repeat;
}

/* line 1158, ../sass/screen.sass */
.download-catalog {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
/* line 1163, ../sass/screen.sass */
.download-catalog .download {
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;
}
/* line 1168, ../sass/screen.sass */
.download-catalog .form-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 45px;
}

/* line 1173, ../sass/screen.sass */
#overlay {
  background-color: black;
  opacity: 0.3;
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
}

/* line 1181, ../sass/screen.sass */
#success-dlg {
  position: fixed;
  display: none;
  width: 921px;
  height: 521px;
  left: 0px;
  top: 0px;
  background: url(../img/Media/mediabg.png) left top no-repeat;
  text-align: center;
  z-index: 9999;
}
/* line 1192, ../sass/screen.sass */
#success-dlg .buttons {
  text-align: center;
  margin-top: 308px;
}
/* line 1196, ../sass/screen.sass */
#success-dlg .buttons a {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  text-decoration: none;
}
/* line 1202, ../sass/screen.sass */
#success-dlg .buttons a:hover {
  text-decoration: none;
}

/* line 1205, ../sass/screen.sass */
.counter {
  width: 273px;
  height: 111px;
  position: relative;
  background: url(../img/Media/counter.png) left top no-repeat;
  margin: 0px auto;
}
/* line 1212, ../sass/screen.sass */
.counter .days, .counter .hours, .counter .minutes {
  position: absolute;
  font-size: 38px;
  font-family: Impact;
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  width: 68px;
  height: 56px;
  letter-spacing: 1px;
  top: 26px;
  text-align: center;
  opacity: 0.95;
}
/* line 1226, ../sass/screen.sass */
.counter .days {
  left: 18px;
}
/* line 1229, ../sass/screen.sass */
.counter .hours {
  left: 105px;
}
/* line 1232, ../sass/screen.sass */
.counter .minutes {
  left: 189px;
}

/* line 1235, ../sass/screen.sass */
.edit-content {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url(../img/Media/Edit-Document-icon.png) left top no-repeat;
  z-index: 999;
  display: block;
  position: absolute;
}
