@model dynamic

@* Второй блок *@
<div class="cool-doors-description ajax-content standart-door-footer">
    <div class="wrap-cool-doors-description">

        @* Клевые особенности *@
        <div class="standart-desc-header">
            О Нас
        </div>
        <ul class="benefits-list">
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon1.png" />
                <span class="benefit-title">Мы адски круты</span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon1.png" />
                <span class="benefit-title">Мы адски круты</span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon1.png" />
                <span class="benefit-title">Мы адски круты</span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon1.png" />
                <span class="benefit-title">Мы адски круты</span>
            </li>
        </ul>
    </div>
</div>
