@model dynamic

@{
    ViewBag.Title = "Управление";
}

<div style="width: 220px; margin: 0px auto">
    <h2>Управление</h2>
    <form action="/Main/Validate" method="POST">
        <div style="margin-bottom: 5px">
            Пароль
        </div>
        <div style="margin-bottom: 15px">
            <input type="password" name="pass"/>
        </div>
        <input type="submit" value="Управлять"/>
    </form>
</div>
