@model dynamic

<div class="first-block-after-menu blue-green-gradient-block standart-door-header ajax-content">

    <div class="block-with-circle">
        <div style="position: relative">
        @* Дверь *@
            <div class="door">
                <img src="~/Content/photos/doors/fire/1.jpg" width="145" height="334" style="z-index: 1000" />
                <div class="images">
                    <div class="row1">
                        <img src="~/Content/photos/doors/fire/1.jpg" />
                        <img src="~/Content/photos/doors/fire/2.jpg" />
                        <img src="~/Content/photos/doors/fire/3.jpg" />
                        <img src="~/Content/photos/doors/fire/4.jpg" />
                    </div>
                </div>
            </div>

        @* Инфа о двери *@
        <div class="door-info">
            <div class="header" style="font-size: 40px">
                Противопожарные двери
            </div>
            <div class="desc">
                Мы так же производим противопожарные двери. Эти двери широко используются в общественных местах, административных зданиях, школах и детских садах.<br/>
                Сегодня мы единственные производители сертифицированных противопожарных дверей в городе Хабаровск.
            </div>
        </div>

        @* Форма *@
        @Html.Partial("StandartForm")


        @* Кнопка купить *@
        <div class="buy-block fire">
            <span class="buy-btn callback">Купить
            </span>
        </div>
</div>
    </div>
    <div class="border-bottom"></div>
</div>

@* Второй блок *@
<div class="cool-doors-description ajax-content standart-door-footer">
    <div class="wrap-cool-doors-description">

        @* Клевые особенности *@
        <div class="standart-desc-header">
            В чем особенности противопожарных дверей?
        </div>
        <ul class="benefits-list">
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon1.png" />
                <span class="benefit-title">Любая конфигурация – одно или двухстворчатые двери, с окном, люком и тд.</span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon2.png" />
                <span class="benefit-title">Негорючий утеплитель двери</span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon3.png" />
                <span class="benefit-title">Специальный уплотнитель на створке и коробке </span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon4.png" />
                <span class="benefit-title">Сертифицированы по ГОСТ</span>
            </li>
        </ul>

        @* Гарантия и форма *@
        <div class="guarantee-form">
            <div class="guarantee">
                <img src="~/Content/img/standart/guarantee.png" />
                <div class="guarantee-text">
                    Вы получаете 100% Гарантию качества
                </div>
            </div>
            @Html.Partial("StandartForm")
        </div>
    </div>
</div>
@Html.Partial("AdminControl")
<script type="text/javascript">
    $(document).ready(function () {
        $(".row1, .row2").find("img").click(function () {
            var imgs = [];
            $(".row1, .row2").find("img").each(function () {
                imgs.push($(this).attr("src"));
            });
            $.fancybox.open(imgs, { index: $(this).attr("index") });
        });
        bindDoors();
        $(".callback").bind("click", function () {
            showCallbackDlg();
            return false;
        });
    });
</script>