@model dynamic

<div class="first-block-after-menu blue-green-gradient-block ajax-content">

    <div class="block-with-circle">

        <div class="first-block-after-menu-doors inline">
            <div class="wrap-carousel inline">

                <div class="top-handlers">
                    <div class="wrap-handler">
                        <img src="/Content/img/carousel-arrow-top.png" class="handler">
                        <br />
                        <span>Сменить цвет</span>
                    </div>
                </div>

                <div class="wrap-doors">
                    <ul>
                        <li class="inline li-left">
                            <img src="/Content/img/door-right.png" /></li>
                        <li class="inline li-active">
                            <img src="/Content/img/door-center.png" /></li>
                        <li class="inline li-right">
                            <img src="/Content/img/door-right.png" /></li>
                    </ul>
                </div>

                <div class="bottom-handlers">
                    <div class="wrap-handler">
                        <img src="/Content/img/carousel-arrow-bottom.png" class="handler">
                    </div>
                </div>

                <div class="handler left-handler"></div>
                <div class="handler right-handler"></div>

            </div>

            <img src="/Content/img/sale-icon.png" class="sale-icon">

            <div class="wrap-benefits inline">
                <ul class="benefits-list">
                    <li class="benefits-list-item">
                        <img src="/Content/img/doors-icon1.png" />
                        <span class="benefit-title">Открываются тихо и плавно</span>
                    </li>
                    <li class="benefits-list-item">
                        <img src="/Content/img/doors-icon2.png" />
                        <span class="benefit-title">Открываются тихо и плавно</span>
                    </li>
                    <li class="benefits-list-item">
                        <img src="/Content/img/doors-icon3.png" />
                        <span class="benefit-title">Открываются тихо и плавно</span>
                    </li>
                    <li class="benefits-list-item">
                        <img src="/Content/img/doors-icon4.png" />
                        <span class="benefit-title">Открываются тихо и плавно</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="first-block-after-menu-form inline">

            <div class="btn btn-counter wrap-inline">

                <div class="btn-center inline">Счётчик</div>

            </div>

            <div class="wrap-form">
                <h2 class="red-text">Выгодные условия!</h2>
                <span class="text">Запишитесь на бесплатный
                        <br />
                    замер сегодня - и монтаж мы сможем
                        <br />
                    сделать завтра. А оплатить Вы сможете
                        <br />
                    после монтажа.
                        <br />
                    ОСТАВЬТЕ ЗАЯВКУ НА ЗАМЕР:
          </span>

                <form class="form-order">
                    <label>Ваше Имя</label><br />
                    <input val="" type="text" />
                    <br />
                    <label>Контактный телефон</label><br />
                    <input val="" type="text" />
                </form>

                <div class="btn btn-order2 wrap-inline">
                    <div class="btn-left btn-corner inline"></div>
                    <div class="btn-center inline">Оставить заявку</div>
                    <div class="btn-right btn-corner inline"></div>
                </div>

            </div>

        </div>

    </div>
    <div class="border-bottom"></div>
</div>


<div class="cool-doors-description ajax-content">
    <div class="wrap-cool-doors-description">
        <img src="/Content/img/lines.png" class="cool-doors-line" />

        <div class="left-descriptions inline">
            <span class="description-title">Двери Витязь</span>
            <ul class="description-list">
                <li class="description-list-item">2 листа стали -
                        <br />
                    являются отличной защитой
          </li>
                <li class="description-list-item">Пенополистерол -
                        <br />
                    изолирует шум и тепло
          </li>
                <li class="description-list-item">Монитор с обзором 120 градусов
          </li>
                <li class="description-list-item">Плотный силиконовый контур
          </li>
                <li class="description-list-item">Слой прозрачного пластика,
                        <br />
                    который не царапается</li>
            </ul>
        </div>


        <div class="cool-doors inline">
            <img src="/Content/img/cool-doors.png" />
        </div>


        <div class="right-descriptions inline">
            <span class="description-title">Обычные двери</span>
            <ul class="description-list">
                <li class="description-list-item">Тонкий слой металла</li>
                <li class="description-list-item">Дешёвый наполнитель</li>
                <li class="description-list-item">Стандартный глазок</li>
                <li class="description-list-item">Слабый каркас</li>
                <li class="description-list-item">Незащищённое<br />
                    покрытие</li>
            </ul>
        </div>
        <div class="duga"></div>
    </div>
</div>
