@model dynamic

<div class="first-block-after-menu blue-green-gradient-block ajax-content">

    <div class="block-with-circle">

        <div class="first-block-after-menu-doors inline">
            <div class="wrap-carousel inline">
                @*
                <div class="top-handlers">
                    <div class="wrap-handler">
                        <img src="/Content/img/carousel-arrow-top.png" class="handler">
                        <br />
                        <span>Сменить цвет</span>
                    </div>
                </div>
                *@

                <div class="wrap-doors">
                    <ul id="doors-carousel">
                        <li class="inline li-left">
                            <img src="/Content/img/door-right.png" /></li>
                        <li class="inline li-active">
                            <img src="/Content/img/door-center.png" /></li>
                        <li class="inline li-right">
                            <img src="/Content/img/door-right.png" /></li>
                    </ul>
                </div>
                
                @*
                <div class="bottom-handlers">
                    <div class="wrap-handler">
                        <img src="/Content/img/carousel-arrow-bottom.png" class="handler">
                    </div>
                </div>
                *@
                <div class="handler left-handler" id="prev-door"></div>
                <div class="handler right-handler" id="next-door"></div>

            </div>

            <img src="/Content/img/sale-icon.png" class="sale-icon">

            <div class="wrap-benefits inline">
                <ul class="benefits-list">
                    
                    <li class="benefits-list-item" style="visibility: hidden">
                        <img src="/Content/img/doors-icon1.png" />
                        <span class="benefit-title editable" data-edit-key="benefit1">Открываются тихо и плавно, скрип и заедания - в прошлом.</span>
                    </li>
                    <li class="benefits-list-item">
                        <img src="/Content/img/doors-icon2.png" />
                        <span class="benefit-title editable" data-edit-key="benefit2">Качественные материалы - никакого запаха.</span>
                    </li>
                    <li class="benefits-list-item">
                        <img src="/Content/img/doors-icon3.png" />
                        <span class="benefit-title editable" data-edit-key="benefit3">Аккуратная работа с металлом - никаких острых углов и заусенцев.</span>
                    </li>
                    <li class="benefits-list-item">
                        <img src="/Content/img/doors-icon4.png" />
                        <span class="benefit-title editable" data-edit-key="benefit4">Их действительно сложно взломать.</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="first-block-after-menu-form inline">

            <div class="btn btn-counter wrap-inline">
                <div style="text-align: center; margin: 10px; font-weight: bold; font-size: 20px; letter-spacing: 1px">
                    Старая цена вернется через
                </div>
                @Html.Partial("Counter")

            </div>

            <div class="form-border">
                <div class="wrap-form">
                    <h2 class="red-text editable" data-edit-key="actionTitle">Выгодные условия!</h2>
                    <span class="text">Запишитесь на бесплатный
                        Успей заказать двери по выгодной! Оставив заявку сейчас, вы экономите 5 600 руб.
                    </span>

                    <form class="form-order" action="/Main/Lead" method="POST">
                        <label>Ваше Имя</label><br />
                        <input val="" type="text" name="name" />
                        <br />
                        <label>Контактный телефон</label><br />
                        <input val="" type="text" name="phone" />
                    </form>

                    <div class="btn btn-order2 wrap-inline">
                        <div class="btn-left btn-corner inline"></div>
                        <div class="btn-center inline">Оставить заявку</div>
                        <div class="btn-right btn-corner inline"></div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="border-bottom"></div>
</div>


<div class="cool-doors-description ajax-content">
    <div class="wrap-cool-doors-description">
        <img src="~/Content/img/standart/compare.png" />
    </div>
</div>
@Html.Partial("AdminControl")
<script type="text/javascript">
    $(document).ready(function() {
        bindDoors();
        
        $("#next-door").click(function () {
            doorsOffset += 1;
            if (doorsOffset >= doorsArray.length) {
                doorsOffset = 0;
            }
            bindDoors();
        });

        $("#prev-door").click(function () {
            doorsOffset -= 1;
            if (doorsOffset < 0) {
                doorsOffset = doorsOffset.length - 1;
            }
            bindDoors();
        });
    });
    
</script>