@model dynamic

<div class="first-block-after-menu blue-green-gradient-block standart-door-header ajax-content">

    <div class="block-with-circle">
        <div style="position: relative">
            @* Дверь *@
            <div class="door">
                <img src="~/Content/photos/doors/premium/G47A_13_07_04608dR.jpg" width="145" height="334" />
                <div class="images">
                    <div class="row1">
                        <img src="~/Content/photos/doors/premium/G47A_13_07_04602d.jpg" index="0" />
                        <img src="~/Content/photos/doors/premium/G47A_13_07_04605d.jpg" index="1" />
                        <img src="~/Content/photos/doors/premium/G47A_13_07_04613d.jpg" index="2" />
                        <img src="~/Content/photos/doors/premium/G47A_13_07_04622d.jpg" index="3" />
                    </div>
                    <div class="row2">
                        <img src="~/Content/photos/doors/premium/G47A_13_07_04673d.jpg" index="4" />
                        <img src="~/Content/photos/doors/premium/G47A_13_07_04693d.jpg" index="5" />
                        <img src="~/Content/photos/doors/premium/G47A_13_07_04708d.jpg" index="6" />
                        <img src="~/Content/photos/doors/premium/G47A_13_07_04713d.jpg" index="7">
                    </div>
                </div>
            </div>

            @* Инфа о двери *@
            <div class="door-info">
                <div class="header">
                    Витязь-Премиум
                </div>
                <div class="desc">
                    Стальные двери Витязь-Премиум – это наивысший класс защиты от посягательств. По ГОСТ – это 4 класс защиты – наивысший. Эта дверь создана для тех, кто ценит безопасность, но и не забывает о красоте. 
                <br />
                    Витязь-Премиум изготавливается из стали 3 мм – для квартирных дверей это очень много – подобная сталь используется в дверях банковских хранилищ. А в дополнение к этому дверь комплектуется  замками с вертикальным запиранием  - Ваш дверь будет запираться ригелями во все 4 стороны.

                </div>
            </div>

            @* Форма *@
            @Html.Partial("StandartForm")


            @* Кнопка купить *@
            <div class="buy-block premium">
                <span class="buy-btn callback">Купить
                </span>
            </div>
        </div>
    </div>
    <div class="border-bottom"></div>
</div>

@* Второй блок *@
<div class="cool-doors-description ajax-content standart-door-footer">
    <div class="wrap-cool-doors-description">

        @* Клевые особенности *@
        <div class="standart-desc-header">
            В чем особенности дверей Витязь-Премиум?
        </div>
        <ul class="benefits-list">
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon2.png" />
                <span class="benefit-title">
                    <span style="font-weight: bold">3 мм толщина стали </span>– дверь сейфового типа, вскрыть такую можно только специальными инструментами, которые есть лишь у спасателей.
                </span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon3.png" />
                <span class="benefit-title">
                    <span style="font-weight: bold">3 противосъемных штыря </span>– Вашу дверь от спиливания петель.
                </span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon4.png" />
                <span class="benefit-title">
                    <span style="font-weight: bold">2 замка Гардина с вертикальным запиранием</span> – ригеля-распорки будут закрывать Вашу дверь во 4 стороны, а это значит, что сломать ее силовыми методами не возможно.
                </span>
            </li>
            <li class="benefits-list-item">
                <img src="/Content/img/doors-icon1.png" />
                <span class="benefit-title">
                    <span style="font-weight: bold">1 замок с перекодировкой  </span>– а это значит, что если Вы потеряете ключи, Вам не нужно менять всю дверь или весь замок. Вы сможете сами перекодировать двери на новый комплект ключей, лишь позвонив нам.
                </span>
            </li>
        </ul>

        @* Гарантия и форма *@
        <div class="guarantee-form">
            <div class="guarantee">
                <img src="~/Content/img/standart/guarantee.png" />
                <div class="guarantee-text">
                    Вы получаете 100% Гарантию качества
                </div>
            </div>
            @Html.Partial("StandartForm")
        </div>
    </div>
</div>
@Html.Partial("AdminControl")
<script type="text/javascript">
    $(document).ready(function () {
        $(".row1, .row2").find("img").click(function () {
            var imgs = [];
            $(".row1, .row2").find("img").each(function () {
                imgs.push($(this).attr("src"));
            });
            $.fancybox.open(imgs, { index: $(this).attr("index") });
        });
        $(".callback").bind("click", function () {
            showCallbackDlg();
            return false;
        });
    });
</script>
