@model dynamic

<div class="first-block-after-menu-form inline form-border">

    <div class="wrap-form">
        <h1 class="form-header">Запишись на замер</h1>


        <form class="form-order" action="/Main/Lead" method="POST">
            <label>Впиши имя</label><br />
            <input val="" type="text" name="name" />
            <br />
            <label>Впиши телефон</label><br />
            <input val="" type="text" name="phone" />
        </form>

        <div class="btn btn-order2 wrap-inline">
            <div class="btn-left btn-corner inline"></div>
            <div class="btn-center inline">Оставить заявку</div>
            <div class="btn-right btn-corner inline"></div>
        </div>
    </div>
</div>
