@model dynamic

<div class="first-block-after-menu-form inline form-border" style="margin-left: 20px">

    <div class="wrap-form">
        <h1 class="form-header">Запишитесь на замер</h1>


        <form class="form-order" action="/Main/Lead" method="POST">
            <label>Ваше имя:</label><br />
            <input val="" type="text" name="name" />
            <br />
            <label>Ваш телефон:</label><br />
            <input val="" type="text" name="phone" />
        </form>

        <div class="btn btn-order2 wrap-inline">
            <div class="btn-left btn-corner inline"></div>
            <div class="btn-center inline">Оставить заявку</div>
            <div class="btn-right btn-corner inline"></div>
        </div>
    </div>
</div>
